.advantages {
	width: 1146px;
	margin: 0 auto;

	color: @grey-20-2;
	background: #e6d2a4 url("../img/bg-waffle.jpg") 0 0 repeat;
}

.advantages__title {
}

.advantages__list {
}

.agvantages__item {
}

.agvantages__item.agvantages__item--temperature {
}

.agvantages__item.agvantages__item--farming {
}

.agvantages__item.agvantages__item--natural {
}

.agvantages__item.agvantages__item--technologies {
}

.agvantages__item--technologies {
}

.agvantages__item--natural {
}

.agvantages__item--farming {
}

.agvantages__item--temperature {
}