.catalog {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: -43px;
	padding-top: 35px;
	padding-right: 14px;
	padding-left: 14px;
	&--inner {
		margin-bottom: 19px;
		margin-bottom: 17px;
		padding-top: 16px;
	}
}

.catalog__list {
	display: flex;

	margin: 0;
	margin-bottom: 50px;
	padding: 0;

	list-style-type: none;

	flex-wrap: wrap;
}

.catalog__list-item {
	display: flex;

	width: 293px;
	min-height: 407px;
	margin-bottom: -45px;

	border-radius: 4px;
	&:hover {
		position: relative;
		z-index: 3;

		background: fade(@white-97-2,30);
		box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	}
}