.page-footer {
	display: flex;

	align-items: flex-start;
	.container;
}

.page-footer__links-block {
	display: flex;

	width: 388px;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-left: 25px;

	list-style-type: none;

	flex-wrap: wrap;
}

.page-footer__links-block-item {
	width: 50%;
	&:nth-child(2n+1) {
		width: 39%;
	}
}

.page-footer__links-item {
	position: relative;

	margin-bottom: 5px;

	text-decoration: none;

	font-size: 13px;

	.line-height(18,13);
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 1px;

		content: "";

		background: rgba(255,255,255,0.2);
	}
	&:hover,
	&:active {
		color: @red-100;
		&::after {
			background: @red-98-a;
		}
	}
	&--providers {
		font-weight: 700;
		&::before {
			position: absolute;
			top: 3px;
			left: -22px;

			display: block;

			width: 15px;
			height: 13px;

			content: "";

			background-image: url(../img/spritesheet.png);
			background-repeat: no-repeat;
			background-position: -592px -10px;
			;
		}
	}
}